{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ artist.name }} · {{ submenu }} · {{ menu }} · {{ parent() }}{% endblock %}

{% block submenu_header %}
    <header class="d-flex border-bottom">
        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">
            {{ knp_menu_render(item.parent, {'currentClass': 'active', 'depth': 1}) }}
        </nav>
    </header>
{% endblock %}

{% block main %}
    <main>
        {% if show_debug_page_info %}
            <div class="container">
                <div class="row my-5">
                    <div class="col">
                        <h1>{{ artist }}</h1>
                        <hr>
                        <pre>A_ID# {{ artist.id }}</pre>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container mt-3 pt-3">
            <div class="row my-5 pt-5">
                {% if artists | length > 0 and artist %}
                    <div class="col-3">
                        <ul class="nav flex-column">
                            {% for item in artists %}
                                <li class="nav-item border-bottom">
                                    <a class="nav-link{% if artist.name == item.name %} active{% endif %}" href="{{ path('front_app_artist_detail', {'menu': menu.slug, 'submenu': submenu.slug, 'slug': item.slug}) }}">{{ item.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-9">
                        <h1>{{ artist.name }}</h1>
                        <h5 class="lp-c-light-grey">{{ artist.city }}, {{ artist.year }}</h5>
                        <h5 class="lp-c-light-grey mb-3">{{ artist.category }}</h5>
                        <div id="artist-carousel-slides-only" class="carousel slide mb-3" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ vich_uploader_asset(artist, 'image1File') | imagine_filter('920x600') }}" class="d-block w-100" alt="{{ artist.name }} 1">
                                </div>
                                {% if artist.image2FileName %}
                                    <div class="carousel-item">
                                        <img src="{{ vich_uploader_asset(artist, 'image2File') | imagine_filter('920x600') }}" class="d-block w-100" alt="{{ artist.name }} 2">
                                    </div>
                                {% endif %}
                                {% if artist.image3FileName %}
                                    <div class="carousel-item">
                                        <img src="{{ vich_uploader_asset(artist, 'image3File') | imagine_filter('920x600') }}" class="d-block w-100" alt="{{ artist.name }} 3">
                                    </div>
                                {% endif %}
                                {% if artist.image4FileName %}
                                    <div class="carousel-item">
                                        <img src="{{ vich_uploader_asset(artist, 'image4File') | imagine_filter('920x600') }}" class="d-block w-100" alt="{{ artist.name }} 4">
                                    </div>
                                {% endif %}
                                {% if artist.image5FileName %}
                                    <div class="carousel-item">
                                        <img src="{{ vich_uploader_asset(artist, 'image5File') | imagine_filter('920x600') }}" class="d-block w-100" alt="{{ artist.name }} 5">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <p class="text-primary"><strong>{{ artist.summary }}</strong></p>
                        {{ artist.description | raw }}
                        {% if artist.webpage %}
                            <p><a target="_blank" href="{{ artist.webpage }}">{{ artist.webpage }}</a></p>
                        {% endif %}
                        {% if artist.document1FileName %}
                            <a class="btn btn-danger" href="{{ vich_uploader_asset(artist, 'document1File') }}" download="{{ artist.document1FileName }}"><i class="fas fa-cloud-download-alt mr-3"></i> {{ 'front.artist.donwload_button' | trans }}</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col">
                        <div class="alert alert-warning"><i class="fas fa-exclamation-triangle"></i> {{ 'front.layout.search.no_results_found' | trans }}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
