{% if page.imageFileName %}
    <div class="container-fluid" style="background-image:url('{{ asset('build/page_detail_header_backgroung.jpg') }}');background-size:cover;">
        <div class="row">
            <div class="text-center">
                <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('1200xY') }}" class="img-fluid rounded-0" alt="{{ page.name }}" style="margin-bottom:-45px">
{#                <div class="d-flex ms-auto w-90 p-1 {{ page.menuLevel1.cssBackgroudClassColor }}"></div>#}
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <div class="row my-5">
        <div class="col text-center">
            <h1>{{ page.name }}</h1>
            <h2 class="h3 text-muted">{{ page.summary }}</h2>
            <hr>
        </div>
    </div>
    <div class="row my-5">
        <div class="col text-center">
            {{ page.description | raw }}
        </div>
    </div>
</div>
