<div class="list-group">
    {% for page in pages %}
        {% if has_highlited_image(page) and page.menuLevel1 and page.menulevel2 %} {# TODO fix this situation #}
            <a role="option" href="{{ path('front_app_page_detail', {'menu': page.menuLevel1.slug, 'submenu': page.menuLevel2.slug, 'date': page.publishDate | date(constant('App\\Entity\\AbstractBase::DATAGRID_TYPE_DATE_FORMAT')), 'page': page.slug}) }}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex">
                    <div class="pe-2">
                        {% if page.smallImage1FileName %}
                            <img src="{{ vich_uploader_asset(page, 'smallImage1File') | imagine_filter('300x300') }}" style="height:100px" class="rounded img-responsive" alt="{{ page.name }}">
                        {% else %}
                            <img src="{{ vich_uploader_asset(page, 'imageFile') | imagine_filter('300x300') }}" style="height:100px" class="rounded img-responsive" alt="{{ page.name }}">
                        {% endif %}
                    </div>
                    <div>
                        <h5>{{ page.name }}</h5>
                        <small>{{ page.realizationDateString }}</small>
                    </div>
                    <div class="ms-auto">
                        <span class="badge" style="background-color:{{ page.menuLevel1.color }}">{{ page.menuLevel1 }}</span>
                    </div>
                </div>
            </a>
        {% endif %}
    {% else %}
        <div class="list-group-item" role="option" aria-disabled="true">{{ 'front.layout.search.no_results_found' | trans }}</div>
    {% endfor %}
</div>
