{% extends "@SonataAdmin/standard_layout.html.twig" %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom logo #}
{% block logo %}
    <a class="logo" href="{{ path('sonata_admin_dashboard') }}" style="background-color:#F92178;">
        <img src="{{ asset(sonata_config.logo) }}" alt="{{ sonata_config.title }} logo" class="img-responsive" style="margin-top:-2px;padding:0;max-width:100px;">
        <span>{{ project_title }}</span>
    </a>
{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <div style="color:#EEE;margin-top:60px;padding:20px">
        <p class="text-white">
            {{ admin_tag_version }}
        </p>
        <p class="text-left small">
            <i class="far fa-code"></i> {{ 'back.layout.developed_by' | trans }} <a href="{{ developer_url }}" target="_blank">{{ developer_name }}</a>
        </p>
        <p class="text-left small">
            <i class="far fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ customer_url }}" target="_blank">{{ customer_name }}</a>
        </p>
    </div>
{% endblock %}
