{% extends "@SonataAdmin/standard_layout.html.twig" %}

{# custom favicon #}
{% block meta_tags %}
    {{ parent() }}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ asset('build/vectors/safari-pinned-tab.svg') }}" color="#000000">
{% endblock %}

{# removes top search bar #}
{% block sonata_sidebar_search %}{% endblock %}

{# custom logo #}
{% block logo %}
    <a class="logo" href="{{ path('sonata_admin_dashboard') }}" style="background-color:#F92178;border-right: solid 1px #F92178;">
        <img src="{{ asset(sonata_config.logo) }}" alt="{{ sonata_config.title }} logo" class="img-responsive" style="margin-top:-2px;padding:0;max-width:100px;">
        <span>{{ project_title }}</span>
    </a>
{% endblock %}

{# custom sidebar footer #}
{% block side_bar_after_nav %}
    <div style="color:#EEE;margin-top:60px;padding:20px">
        <p class="text-white">
            {{ admin_tag_version }}
        </p>
        <p class="text-left small">
            <i class="fas fa-code"></i> {{ 'back.layout.developed_by' | trans }} <a href="{{ developer_url }}" target="_blank">{{ developer_name }}</a>
        </p>
        <p class="text-left small">
            <i class="far fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ customer_url }}" target="_blank">{{ customer_name }}</a>
        </p>
    </div>
{% endblock %}

{# override custom JS #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('backend') }}
{% endblock %}

{# custom top menu #}
{% block sonata_top_nav_menu %}
    <div class="navbar-custom-menu">
        {{ knp_menu_render('backend_top_rigth_nav_menu', {currentClass: 'active', allow_safe_labels: true}) }}
    </div>
{% endblock %}

{# custom main content #}
{% block sonata_page_content %}
    <div class="modal fade" id="pdf-preview-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div data-controller="pdf-preview" data-action="app-pdf-preview-button-clicked@window->pdf-preview#update" data-pdf-preview-hidden-class="hidden" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'back.action.close' | trans }}"><span aria-hidden="true">&times;</span></button>
                    <div class="btn-group mr-3" role="group" aria-label="{{ 'back.action.pdf_preview' | trans }}">
                        <a data-pdf-preview-target="downloader" style="margin-top:1px;" class="btn btn-warning" download><i class="fa fa-download"></i> {{ 'vich_uploader.link.download' | trans | capitalize }}</a>
                    </div>
                    <div class="btn-group" role="group" aria-label="{{ 'back.action.pdf_preview' | trans }}">
                        <button data-action="pdf-preview#onPrevPage" type="button" class="btn btn-warning"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-default">{{ 'back.action.page' | trans }}&nbsp;<span data-pdf-preview-target="current"></span>&nbsp;{{ 'back.action.of' | trans }}&nbsp;<span data-pdf-preview-target="total"></span></button>
                        <button data-action="pdf-preview#onNextPage" type="button" class="btn btn-warning"><i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="modal-body">
                    <p data-pdf-preview-target="loader" class="lead text-center mb-0"><i class="fa fa-5x fa-spin fa-circle-o-notch"></i></p>
                    <canvas style="width:100%;border: solid 1px lightgrey" class="pdf-canvas hidden" data-pdf-preview-target="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
