{% extends "frontend/base.html.twig" %}

{% block title %}{{ 'front.layout.footer_3.left.privacy_policy' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <main>
            <div class="row my-5">
                <div class="col-12">
                    <h2>{{ 'front.privacy_policy.title_1' | trans }}</h2>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_2' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_2_line_1' | trans }}: {{ pp_id }}</p>
                    <p>{{ 'front.privacy_policy.text_section_2_line_2' | trans }}: {{ pp_cif }}</p>
                    <p>{{ 'front.privacy_policy.text_section_2_line_3' | trans }}: {{ pp_address }}</p>
                    <p>{{ 'front.privacy_policy.text_section_2_line_4' | trans }}: <a href="mailto:{{ pp_communication_email }}">{{ pp_communication_email }}</a></p>
                    <p>{{ 'front.privacy_policy.text_section_2_line_5' | trans }}: <a href="mailto:{{ pp_communication_email }}">{{ pp_communication_email }}</a></p>
                    <p>{{ project_title }}, {{ 'front.privacy_policy.text_section_2_line_6' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_3' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_3_line_1' | trans }}</p>
                    <ul>
                        <li>{{ 'front.privacy_policy.text_section_3_line_2' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_3' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_4' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_5' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_6' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_7' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_8' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_9' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_3_line_10' | trans }}</li>
                    </ul>
                    <p>{{ 'front.privacy_policy.text_section_3_line_11' | trans }}: <a href="mailto:{{ pp_communication_email }}">{{ pp_communication_email }}</a></p>
                    <p>{{ 'front.privacy_policy.text_section_3_line_12' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_3_line_13' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_3_line_14' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_3_line_15' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_4' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_4_line_1' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_4_line_2' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_4_line_3' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_5' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_5_line_1' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_5_line_2' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_5_line_3' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_5_line_4' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_6' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_6_line_1' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_6_line_2' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_7' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_7_line_1' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_7_line_2' | trans({'%project_title%': project_title}) }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_8' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_8_line_1' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_8_line_2' | trans }}</p>
                    <ul>
                        <li>{{ 'front.privacy_policy.text_section_8_line_3' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_4' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_5' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_6' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_7' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_8' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_9' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_10' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_8_line_11' | trans }}</li>
                    </ul>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h2>{{ 'front.privacy_policy.title_9' | trans }}</h2>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_10' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_10_line_1' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_11' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_11_line_1' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_11_line_2' | trans({'%project_title%': project_title}) }}</p>
                    <p>{{ 'front.privacy_policy.text_section_11_line_3' | trans }}</p>
                    <ul>
                        <li>{{ 'front.privacy_policy.text_section_11_line_4' | trans }}</li>
                        <li>{{ 'front.privacy_policy.text_section_11_line_5' | trans({'%project_title%': project_title}) }}</li>
                        <li>{{ 'front.privacy_policy.text_section_11_line_6' | trans }}</li>
                    </ul>
                    <p>{{ 'front.privacy_policy.text_section_11_line_7' | trans({'%project_title%': project_title}) }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_12' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_12_line_1' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_13' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_13_line_1' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_13_line_2' | trans }}</p>
                    <p>{{ 'front.privacy_policy.text_section_13_line_3' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_14' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_14_line_1' | trans({'%project_title%': project_title}) }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <h4 class="mb-4">{{ 'front.privacy_policy.title_15' | trans }}</h4>
                    <p>{{ 'front.privacy_policy.text_section_15_line_1' | trans({'%project_title%': project_title}) }}</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block footer_background_color_style_attribute %}{% endblock %}
