{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ moment | date(constant('App\\Entity\\AbstractBase::DATE_FORMAT')) }} · {{ parent() }}{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="row my-5">
                <div class="col-12">
                    <h1>{{ 'front.agenda.title' | trans }}</h1>
                    <h4 class="text-muted mb-5">{{ 'front.agenda.activities' | trans }} {{ moment | date(constant('App\\Entity\\AbstractBase::DATE_FORMAT')) }}</h4>
                    {% include "frontend/partials/pages_list.html.twig" with {'is_archive_view': false} %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
