<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="www.flux.cat">
        <title>{% block title %}{{ 'front.layout.title' | trans }}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="container-fluid bg-dark">
            <header class="d-flex">
                <a class="py-4 ps-3 pe-4 me-3" href="{{ path('front_app_homepage') }}">
                    <img src="{{ asset('build/lo_pati_centre_art_logo.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="246" height="51" class="d-inline-block">
                </a>
                <nav class="navbar navbar-expand-lg navbar-light bg-white text-uppercase py-0 align-items-stretch">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarHeader">
                        {% block menu_header %}
                            {{ knp_menu_render('frontend_main', {'currentClass': 'active', 'depth': 1}) }}
                        {% endblock %}
                    </div>
                </nav>
                <form class="d-flex ms-auto">
{#                    <input class="form-control ms-auto me-2" type="search" placeholder="Search" aria-label="Search">#}
                    <button class="btn" type="submit"><i class="fas fa-search fa-2x text-light"></i></button>
                </form>
            </header>
        </div>
        <div class="container">
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </body>
</html>
