<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="www.flux.cat">
        <title>{% block title %}{{ 'front.layout.title' | trans }}{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('frontend') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('frontend') }}{% endblock %}
    </head>
    <body>
        <div class="container-fluid bg-dark p-0">
            <header class="d-flex">
                <a class="py-4 px-5" href="{{ path('front_app_homepage') }}">
                    <img src="{{ asset('build/lo_pati_centre_art_logo.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="246" height="51" class="d-inline-block">
                </a>
                <nav class="navbar navbar-expand-lg navbar-light bg-white text-uppercase py-0 align-items-stretch flex-grow-1 border-bottom">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarHeader">
                        {% block menu_header %}
                            {{ knp_menu_render('frontend_main', {'currentClass': 'active', 'ancestorClass': 'active', 'depth': 1}) }}
                        {% endblock %}
                        {{ knp_menu_render('frontend_language', {'currentClass': 'active'}) }}
                    </div>
                </nav>
                <form class="d-flex p-4 ms-auto">
                    <div class="input-group" {{ stimulus_controller('autocomplete', {'url': path('front_app_search'), 'min-length': 3}) }}>
                        <input class="form-control ms-auto me-2" type="search" placeholder="Search" aria-label="Search" data-autocomplete-target="input">
                        <button class="btn" type="submit"><i class="fas fa-search fa-2x text-light"></i></button>
                        <div class="sticky-top" data-autocomplete-target="results"></div>
                    </div>
                </form>
            </header>
        </div>
        {% block submenu_header %}{% endblock %}
        <div class="container">
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
        <div class="container-fluid p-0">
            <footer>
                <div class="d-flex ms-auto w-90 p-2 lp-bg-purple"></div>
                <div class="lp-bg-timetable-section p-5">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8">
                            <h6 class="text-uppercase text-white mb-5"><img src="{{ asset('build/head_label_w.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="50" class="d-inline-block me-3"> {{ 'front.layout.footer.visit' | trans }}</h6>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-6">
                            <div class="card rounded-0 lp-bg-black lp-c-light-grey">
                                <div class="position-relative">
                                    <img src="{{ asset('build/timetable_section.png') | imagine_filter('728x214') }}" class="card-img-top" alt="{{ 'front.layout.footer.timetable_t1' | trans }}">
                                    <div class="position-absolute top-100 start-0 translate-middle-y">
                                        <div>
                                            <span class="h6 card-title mb-0 d-inline-flex py-2 ps-2 pe-5 lp-bg-purple text-white text-uppercase">{{ 'front.layout.footer.information' | trans }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-4 lp-c-ultra-light-grey">{{ 'front.layout.footer.timetable_t1' | trans }}</h5>
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">
                                                <strong>{{ 'front.layout.footer.timetable_d1' | trans }}</strong><br>
                                                {{ 'front.layout.footer.timetable_h1' | trans }}
                                            </p>
                                        </div>
                                        <div class="col">
                                            <p class="card-text">
                                                <strong>{{ 'front.layout.footer.timetable_d2' | trans }}</strong><br>
                                                {{ 'front.layout.footer.timetable_h2' | trans }}
                                            </p>
                                        </div>
                                    </div>
                                    <a href="#" class="float-end text-white btn btn-outline-light btn-sm rounded-0 border-2 text-uppercase">{{ 'front.layout.footer.timetable_ab' | trans }} <i class="fas fa-chevron-right ms-5"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <h6 class="text-uppercase text-white m-5">OPEN CALL</h6>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>
