<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="author" content="www.flux.cat">
        <title>{% block title %}{{ 'front.layout.title' | trans }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
        <link rel="mask-icon" href="{{ asset('build/vectors/safari-pinned-tab.svg') }}" color="#000000">
        {#<!-- Google Tag (Analytics v4) -->#}
        {% if google_tag_v4_enabled %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_v4 }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ google_tag_v4 }}');
            </script>
        {% endif %}
        {% block stylesheets %}{{ encore_entry_link_tags('frontend') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('frontend') }}{% endblock %}
    </head>
    <body>
        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasSearch" aria-labelledby="offcanvasSearchLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasSearchLabel"><i class="fas fa-search"></i> {{ 'front.layout.search.engine' | trans }}</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'back.action.close' | trans }}"></button>
            </div>
            <div class="offcanvas-body">
                <div {{ stimulus_controller('autocomplete', {'url': path('front_app_search'), 'min-length': 3}) }}>
                    <input id="inputOffcanvasSearchField" class="form-control ms-auto me-2" type="search" aria-label="Search" data-autocomplete-target="input">
                    <div data-autocomplete-target="results"></div>
                </div>
            </div>
        </div>
        {# top menu section #}
        <div class="container-fluid bg-dark">
            <header class="d-flex">
                <a class="p-4" href="{{ path('front_app_homepage') }}">
                    <img src="{{ asset('build/vectors/lo_pati_centre_art_logo.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="200" height="42" class="d-inline-block img-fluid">
                </a>
                <nav class="navbar navbar-expand-lg navbar-dark text-uppercase py-0 align-items-stretch flex-grow-1">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarHeader">
                        {% block menu_header %}
                            {{ knp_menu_render('frontend_main', {'currentClass': 'active', 'ancestorClass': 'active', 'depth': 1}) }}
                        {% endblock %}
                        {{ knp_menu_render('frontend_language', {'currentClass': 'active'}) }}
                    </div>
                </nav>
                <div class="d-flex py-4 ms-auto">
                    <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasSearch" role="button" aria-controls="offcanvasSearch">
                        <i class="fas fa-search fa-2x text-light"></i>
                    </a>
                </div>
            </header>
        </div>
        {% block submenu_header %}{% endblock %}
        {# session flashes section #}
        {% block flash_sections %}
            {% if app.session.flashbag.peekAll | length > 0 %}
                <div class="container my-5">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="row">
                                <div class="col">
                                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                        {% if label == 'success' %}<i class="fas fa-check-circle mr-3"></i>{% else %}<i class="fas fa-exclamation-triangle mr-3"></i>{% endif %} {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
        {# main content section #}
        {% block main %}{% endblock %}
        {# footer section #}
        <div class="container-fluid p-0"{% block footer_background_color_style_attribute %} style="background-color:#F0F8FA"{% endblock %}>
            <footer>
                <div class="d-flex ms-auto w-90 p-2 lp-bg-purple"></div>
                <div class="lp-bg-timetable-section p-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-9">
                                <h6 class="text-uppercase text-white mb-5"><img src="{{ asset('build/vectors/head_label_w.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="50" class="d-inline-block me-3"> {{ 'front.layout.footer.visit' | trans }}</h6>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-12 col-sm-6">
                                <div class="card rounded-0 lp-bg-black lp-c-light-grey">
                                    <div class="position-relative">
                                        <img src="{{ asset('build/images/timetable_section.png') | imagine_filter('728x214') }}" class="card-img-top" alt="{{ 'front.layout.footer.information' | trans }}">
                                        <div class="position-absolute top-100 start-0 translate-middle-y">
                                            <div>
                                                <span class="h6 card-title mb-0 d-inline-flex py-2 ps-2 pe-5 lp-bg-purple text-white text-uppercase">{{ 'front.layout.footer.information' | trans }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {{ render(controller('App\\Controller\\Frontend\\VisitingHoursController::timetable')) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-3" data-controller="calendar" data-calendar-month-value="{{ 'now' | date('n') }}" data-calendar-year-value="{{ 'now' | date('Y') }}">
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class="lp-bg-light-grey text-white text-uppercase p-2 mb-3">{{ 'front.layout.footer.agenda.dates' | trans }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div data-calendar-target="agenda">
                                            <i class="fas fa-spin fa-circle-notch fa-5x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div class="container-fluid lp-bg-ultra-black py-5">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card rounded-0 lp-bg-ultra-black">
                        <div class="card-body">
                            <img src="{{ asset('build/vectors/lo_pati_centre_art_logo.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="246" height="51" class="d-block mb-4">
                            <p class="card-text lp-c-light-grey">
                                {{ pp_id }}<br>
                                {{ pp_address }}<br>
                                <a class="text-decoration-none lp-c-light-grey" href="tel:+{{ pp_phone | replace({' ': ''}) }}"><i class="fas fa-phone-alt"></i> {{ pp_phone }}</a><br>
                                {{ pp_zip }} {{ pp_city }}
                            </p>
                            {{ render(controller('App\\Controller\\Frontend\\VisitingHoursController::footer')) }}
                            <p class="card-text text-uppercase lp-c-white">
                                {{ 'front.layout.footer_2.left.follow_us' | trans }}<br>
                            </p>
                            <p class="card-text">
                                <a href="https://www.facebook.com/centreartlopati" target="_blank" class="lp-c-light-grey text-decoration-none">
                                    <img src="{{ asset('build/vectors/facebook.svg') }}" width="43" height="43" alt="Facebook logo">
                                </a>
                                <a href="https://twitter.com/centreartlopati" target="_blank" class="lp-c-light-grey text-decoration-none">
                                    <img src="{{ asset('build/vectors/twitter.svg') }}" width="43" height="43" alt="Twitter logo">
                                </a>
                                <a href="https://www.instagram.com/centreartlopati" target="_blank" class="lp-c-light-grey text-decoration-none">
                                    <img src="{{ asset('build/vectors/instagram.svg') }}" width="43" height="43" alt="Instagram logo">
                                </a>
                                <a href="https://vimeo.com/lopati" target="_blank" class="lp-c-light-grey text-decoration-none">
                                    <img src="{{ asset('build/vectors/vimeo.svg') }}" width="43" height="43" alt="Vimeo logo">
                                </a>
                                <a href="https://www.flickr.com/photos/lopati" target="_blank" class="lp-c-light-grey text-decoration-none">
                                    <img src="{{ asset('build/vectors/flickr.svg') }}" width="43" height="43" alt="Flickr logo">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card rounded-0 lp-bg-ultra-black">
                        <div class="card-body">
                            <p class="card-text text-uppercase lp-c-white">
                                {{ 'front.layout.footer_2.middle.organize' | trans }}
                            </p>
                            <a href="https://www.amposta.cat" target="_blank">
                                <img src="{{ asset('build/images/logo_ajuntament_amposta.png') }}" alt="Ajuntament d'Amposta logo" class="mb-4">
                            </a>
                            <p class="card-text text-uppercase lp-c-white">
                                {{ 'front.layout.footer_2.middle.support_by' | trans }}
                            </p>
                            <a href="https://cultura.gencat.cat/ca/inici" target="_blank">
                                <img src="{{ asset('build/images/logo_gencat.png') }}" alt="Generalitat de Catalunya logo" class="d-block mb-4">
                            </a>
                            <a href="https://www.diputaciodetarragona.cat" target="_blank">
                                <img src="{{ asset('build/images/logo_dipta.png') }}" alt="Diputació de Tarragona logo" class="mb-4">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card rounded-0 lp-bg-ultra-black">
                        <div class="card-body">
                            <p class="card-text text-uppercase lp-c-white">
                                {{ 'front.layout.footer_2.right.subscribe' | trans }}
                            </p>
                            {{ render(controller('App\\Controller\\Frontend\\NewsletterController::form')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid lp-bg-white py-5">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <a href="{{ path('front_app_privacy_policy') }}" class="lp-c-light-grey text-decoration-none">{{ 'front.layout.footer_3.left.privacy_policy' | trans | upper }}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('front_app_accessibility_statement') }}" class="lp-c-light-grey text-decoration-none">{{ 'front.layout.footer_3.left.accessibility_statement' | trans | upper }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 mt-3 mt-sm-0">
                    <p class="lp-c-light-grey text-end m-0">
                        {{ 'front.layout.title' | trans | upper }} {{ 'now' | date('Y') }} <i class="far fa-copyright"></i>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
