{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <main>
            {% if slides | length > 0 %}
                <div data-controller="carousel-indicators">
                    <div class="row mt-5 mb-4">
                        <div class="col">
                            <div id="slideshow" class="carousel carousel-dark slide" data-bs-ride="carousel" data-carousel-indicators-target="carousel">
                                <div class="carousel-inner">
                                    {% for slide in slides %}
                                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                                            <div class="row">
                                                {# legacy design template #}
                                                <div class="col-12">
                                                    {% if slide.link %}
                                                        <a href="{{ slide.link }}">
                                                            <img src="{{ vich_uploader_asset(slide, 'image1File') | imagine_filter('800x600') }}" class="d-block w-100" alt="{% if slide.imageAltName %}{{ slide.imageAltName }}{% else %}{{ slide.name }}{% endif %}">
                                                        </a>
                                                    {% else %}
                                                        <img src="{{ vich_uploader_asset(slide, 'image1File') | imagine_filter('800x600') }}" class="d-block w-100" alt="{% if slide.imageAltName %}{{ slide.imageAltName }}{% else %}{{ slide.name }}{% endif %}">
                                                    {% endif %}
                                                </div>
                                                {# new design template #}
{#                                                <div class="col-6">#}
{#                                                    <div class="mini-colored-box-detail d-flex me-auto lp-bg-teal"></div>#}
{#                                                    <span class="h6 d-inline-flex py-2 ps-2 pe-5 mb-3 lp-bg-black text-white text-uppercase">Activitat#}{# TODO make it dynamic #}{#</span>#}
{#                                                    <h5 class="text-muted mb-2"><i class="far fa-clock"></i> Lo Pati - Del X al Y d'agost#}{# TODO make it dynamic #}{#</h5>#}
{#                                                    <h2 class="mb-4">{{ slide.name | nl2br }}#}{# TODO make it dynamic #}{#</h2>#}
{#                                                    <a href="{{ path('front_app_homepage') }}#}{# TODO make it dynamic #}{#" class="btn btn-outline-dark btn-sm rounded-0 border-2 text-uppercase">{{ 'front.homepage.read_more' | trans }} <i class="fas fa-chevron-right ms-5"></i></a>#}
{#                                                </div>#}
{#                                                <div class="col-6">#}
{#                                                    <img src="{{ vich_uploader_asset(slide, 'image1File') | imagine_filter('800x600') }}" class="d-block w-100" alt="{% if slide.imageAltName %}{{ slide.imageAltName }}{% else %}{{ slide.name }}{% endif %}">#}
{#                                                    <div class="d-flex ms-auto w-90 p-2 lp-bg-teal#}{# TODO make it dynamic #}{#"></div>#}
{#                                                </div>#}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-0 mb-5">
                        <div class="col">
                            <div class="carousel-indicators position-relative" data-carousel-indicators-target="indicators">
                                {% for slide in slides %}
                                    <button type="button" data-bs-target="#slideshow" data-bs-slide-to="{{ loop.index0 }}"{% if loop.first %} class="bg-dark active" aria-current="true"{% else %} class="bg-dark"{% endif %} aria-label="slide {{ loop.index }}"></button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-12">
                        <h5 class="text-uppercase mb-0"><img src="{{ asset('build/vectors/head_label_b.svg') }}" alt="{{ 'front.layout.title' | trans }}" width="50" class="d-inline-block me-3"> {{ 'front.homepage.highlighted' | trans }}</h5>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for page in highlighted_pages %}
                        <div class="col">
                            <div class="card border-0">
                                <div style="background-color:{{ page.menuLevel1.color }}" class="position-relative">
                                    <a href="{{ path('front_app_page_detail', {'menu': page.menuLevel1.slug, 'submenu': page.menuLevel2.slug, 'date': page.publishDate | date(constant('App\\Entity\\AbstractBase::DATAGRID_TYPE_DATE_FORMAT')), 'page': page.slug}) }}">
                                        <img src="{{ vich_uploader_asset(page, page.highlitedImageField) | imagine_filter(page.highlitedImageFilter) }}" class="card-img-top rounded-0{% if page.isHighlitedImageSquared %} w-235-px{% endif %}" alt="{{ page.name }}">
                                    </a>
                                    <div class="position-absolute bottom-0 start-0">
                                        <div style="background-color:{{ page.menuLevel1.color }}" class="mini-colored-box-detail d-flex me-auto"></div>
                                        <div>
                                            <span class="h6 card-title mb-0 d-inline-flex py-2 ps-2 pe-5 lp-bg-black text-white text-uppercase">{{ page.menuLevel1.name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="background-color:{{ page.menuLevel1.color }}" class="d-flex ms-auto w-90 p-1"></div>
                                <div class="card-body py-3 px-0">
                                    {% if page.realizationDateString %}
                                        <h6 class="card-subtitle text-muted mb-2"><i class="far fa-clock"></i> {{ page.realizationDateString }}</h6>
                                    {% endif %}
                                    <h5 class="card-title mb-4">{{ page.name }}</h5>
                                    <a href="{{ path('front_app_page_detail', {'menu': page.menuLevel1.slug, 'submenu': page.menuLevel2.slug, 'date': page.publishDate | date(constant('App\\Entity\\AbstractBase::DATAGRID_TYPE_DATE_FORMAT')), 'page': page.slug}) }}" class="btn btn-outline-dark btn-sm rounded-0 border-2 text-uppercase">{{ 'front.homepage.read_more' | trans }} <i class="fas fa-chevron-right ms-5"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row my-5">
                    <div class="col-12">
                        {{ knp_pagination_render(highlighted_pages) }}
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}
