{% extends "frontend/base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>Hello World!</h1>
            <pre>homepage</pre>
        </div>
    </div>
    {% if slides | length > 0 %}
        <div class="row">
            <div id="slideshow" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{ vich_uploader_asset(slide, 'image1File') }}" class="d-block w-100" alt="{% if slide.imageAltName %}{{ slide.imageAltName }}{% else %}image{% endif %}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ slide.name }}</h5>
                                <p>{{ slide.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#slideshow" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slideshow" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    {% endif %}
{% endblock %}
