{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ menu }} · {{ parent() }}{% endblock %}

{% block submenu_header %}
    {{ knp_menu_render(item, {'currentClass': 'active', 'depth': 1}) }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>{{ menu }}</h1>
            <pre>#{{ menu.id }}</pre>
        </div>
    </div>
{% endblock %}
