{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ submenu }} 路 {{ menu }} 路 {{ parent() }}{% endblock %}

{% block submenu_header %}
    <header class="d-flex border-bottom">
        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">
            {{ knp_menu_render(item.parent, {'currentClass': 'active', 'depth': 1}) }}
        </nav>
    </header>
{% endblock %}

{% block main %}
    <main>
        {% if show_debug_page_info %}
            <div class="container">
                <div class="row my-5">
                    <div class="col">
                        <h1>{{ submenu }} <span class="text-black-50">路 {{ menu }}</span></h1>
                        <hr>
                        <pre>P_ID# {% if submenu.page %}{{ submenu.page.id }} 路 PTT# '{{ submenu.page.templateTypeTransString | trans }}'{% else %}{{ constant('App\\Entity\\AbstractBase::DEFAULT_EMPTY_STRING') }}{% endif %}</pre>
                        <pre>is_irradiador: {% if is_irradiador %}yes{% else %}no{% endif %}</pre>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container mt-3 pt-3">
            <div class="row">
                {% include 'frontend/partials/pages_list.html.twig' with {'is_archive_view': false} %}
            </div>
        </div>
    </main>
{% endblock %}
