{% extends "frontend/base.html.twig" %}

{% block title %}Menu {{ submenu }}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>Hello World!</h1>
            <pre>{{ menu.name }} · {{ submenu.name }}</pre>
            <pre>#{{ submenu.id }}</pre>
            <ul class="nav">
                {% for item in menu.menuLevel2items %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('front_app_menu_level_2', {menu: menu.slug, submenu: item.slug}) }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
