{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ submenu }} 路 {{ menu }} 路 {{ parent() }}{% endblock %}

{% block submenu_header %}
    {{ knp_menu_render(item.parent, {'currentClass': 'active', 'depth': 1}) }}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1>{{ submenu }} <span class="text-black-50">路 {{ menu }}</span></h1>
            <pre>#{{ submenu.id }} 路 #{{ menu.id }}</pre>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Pages list</h4>
            <ul class="nav flex-column">
                {% for page in submenu.pages %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('front_app_page_detail', {'menu': menu.slug, 'submenu': submenu.slug, 'date': page.publishDate | date(constant('App\\Entity\\AbstractBase::DATAGRID_TYPE_DATE_FORMAT')), 'page': page.slug }) }}">{{ page.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
