{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ menu }} · {{ parent() }}{% endblock %}

{% block submenu_header %}
    <header class="d-flex border-bottom">
        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">
            {{ knp_menu_render(item, {'currentClass': 'active', 'depth': 1}) }}
        </nav>
    </header>
{% endblock %}

{% block main %}
    <div class="row my-5">
        <div class="col">
            <h1>{{ menu }}</h1>
            {% if menu.page %}
                {% if app.environment == constant('App\\Kernel::DEV_ENV') %}
                    <hr>
                    <pre>P_ID# {{ menu.page.id }} · PTT# '{{ menu.page.templateTypeTransString | trans }}'</pre>
                {% endif %}
            {% else %}
                <hr>
                <pre>TO DO... {# TODO render empty menu level 1 template #}</pre>
            {% endif %}
        </div>
    </div>
    {% if menu.page %}
        {% include 'frontend/partials/page_template_types/'~menu.page.templateTypeString~'.html.twig' %}
    {% endif %}
{% endblock %}
