{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ menu }} · {{ parent() }}{% endblock %}

{% block submenu_header %}
    <header class="d-flex border-bottom">
        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">
            {{ knp_menu_render(item, {'currentClass': 'active', 'depth': 1}) }}
        </nav>
    </header>
{% endblock %}

{% block main %}
    {% if show_debug_page_info %}
        <div class="row my-5">
            <div class="col">
                <h1>{{ menu }}</h1>
                <hr>
                <pre>P_ID# {{ menu.page.id }} · PTT# '{{ menu.page.templateTypeTransString | trans }}'</pre>
            </div>
        </div>
    {% endif %}
    {% if menu.page %}
        {% include 'frontend/partials/page_template_types/'~menu.page.templateTypeString~'.html.twig' with {page: menu.page} %}
    {% else %}
        <div class="row my-5">
            <div class="col">
                <h1>{{ menu }}</h1>
                <hr>
                <pre>TO DO... {# TODO render empty menu level 2 template #}</pre>
            </div>
        </div>
    {% endif %}
{% endblock %}
