{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ menu }} · {{ parent() }}{% endblock %}

{% block submenu_header %}
    <header class="d-flex border-bottom">
        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">
            {{ knp_menu_render(item, {'currentClass': 'active', 'depth': 1}) }}
        </nav>
    </header>
{% endblock %}

{% block main %}
    <div class="row my-5">
        <div class="col">
            <h1>{{ menu }}</h1>
            <pre>#{{ menu.id }}</pre>
        </div>
    </div>
{% endblock %}
