{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ submenu }} 路 {{ menu }} 路 {{ parent() }}{% endblock %}

{% block submenu_header %}
    {{ dump(item) }}
{#    <header class="d-flex border-bottom">#}
{#        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">#}
{#            {{ knp_menu_render(item.parent, {'currentClass': 'active', 'depth': 1}) }}#}
{#        </nav>#}
{#    </header>#}
{#    {{ knp_menu_render(item.parent, {'currentClass': 'active', 'depth': 1}) }}#}
{% endblock %}

{% block main %}
    <div class="row my-5">
        <div class="col">
            <h1>{{ submenu }} <span class="text-black-50">路 {{ menu }}</span></h1>
            {% if app.environment == constant('App\\Kernel::DEV_ENV') %}
                <hr>
                <pre>P_ID# {{ page.id }} 路 PTT# '{{ page.templateTypeTransString | trans }}'</pre>
            {% endif %}

        </div>
    </div>
    {% include 'frontend/partials/page_template_types/'~page.templateTypeString~'.html.twig' %}
{#    <div class="row">#}
{#        <div class="col">#}
{#            <h4>Pages list</h4>#}
{#            <ul class="nav flex-column">#}
{#                {% for page in submenu.pages %}#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active" href="#">{{ page.name }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{% endblock %}
