{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ submenu }} · {{ menu }} · {{ parent() }}{% endblock %}

{% block submenu_header %}
    <header class="d-flex border-bottom">
        <nav class="submenu navbar navbar-light bg-white text-uppercase mx-auto">
            {{ knp_menu_render(item, {'currentClass': 'active', 'depth': 2}) }}
        </nav>
    </header>
{% endblock %}

{% block main %}
    <main>
        {% if show_debug_page_info %}
            <div class="container">
                <div class="row my-5">
                    <div class="col">
                        <h1>{{ page }}</h1>
                        <hr>
                        <pre>P_ID# {{ page.id }} · PTT# '{{ page.templateTypeTransString | trans }}'</pre>
                    </div>
                </div>
            </div>
        {% endif %}
        {% include 'frontend/partials/page_template_types/'~page.templateTypeString~'.html.twig' with {page: page} %}
    </main>
{% endblock %}
