{% extends "frontend/base.html.twig" %}

{% set item = knp_menu_get_current_item('frontend_main') %}

{% block title %}{{ archive.year }} · {{ menu }} · {{ parent() }}{% endblock %}

{% block main %}
    <main>
        {% if show_debug_page_info %}
            <div class="container">
                <div class="row my-5">
                    <div class="col">
                        <h1>{{ menu }}</h1>
                        <hr>
                        <pre>MTT# archives</pre>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="container mt-3 pt-3">
            <div class="row">
                <div class="col-12 my-5">
                    <img class="img-fluid" src="{{ vich_uploader_asset(archive, 'smallImage2File') | imagine_filter('600x600') }}" alt="{{ archive.year }}">
                </div>
                {% include "frontend/partials/pages_list.html.twig" with {'is_archive_view': true} %}
            </div>
        </div>
    </main>
{% endblock %}

{% block footer_background_color_style_attribute %}{% endblock %}
