{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}{% endblock sonata_nav %}

{% block logo %}{% endblock logo %}

{% block sonata_left_side %}{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box" style="max-width:400px;width:90%">
        <div class="center-block" style="margin-bottom:0;padding:30px;background-color:#15181D;">
            <img src="{{ asset('build/vectors/lo_pati_centre_art_logo.svg') }}" alt="{{ project_title }}" class="img-responsive">
        </div>
        <div class="login-box-body" style="padding:30px 20px">
            {% block sonata_user_login_form %}
                {% block sonata_user_login_error %}
                    {% set error = attribute(_context, constant('Symfony\\Component\\Security\\Core\\Security::AUTHENTICATION_ERROR')) %}
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey | trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                {% endblock %}
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">{{ flash }}</div>
                    {% endfor %}
                {% endfor %}
                <p class="login-box-msg" style="padding: 0 0 20px 0;text-align:left;"><strong>{{ 'back.login.welcome' | trans }}</strong></p>
                {{ form_start(form) }}
                    <div class="form-group has-feedback">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.password) }}
                        {{ form_errors(form.password) }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary btn-flat pull-right">{{ 'form.label_login' | trans }}</button>
                        </div>
                    </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            {% endblock %}
        </div>
        <div class="login-box-bottom" style="margin-top:5px">
            <span>{{ admin_tag_version }}</span>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text"><i class="far fa-copyright"></i> {{ 'now' | date('Y') }} <a href="{{ customer_url }}" target="_blank">{{ customer_name }}</a></p>
        </div>
    </nav>
{% endblock sonata_wrapper %}
