{% extends "mail/base_email.html.twig" %}

{% block content %}
    {% for post in newsletter.posts %}
        <row>
            <columns small="12" large="8" class="small-padding-bottom">
                {% if post.image1FileName is not null %}
                    {% if post.link %}
                        <a href="{{ post.link }}">
                            <img src="{{ absolute_url(vich_uploader_asset(post, 'image1File')) }}" alt="{{ post.title }}">
                        </a>
                    {% else %}
                        <img src="{{ absolute_url(vich_uploader_asset(post, 'image1File')) }}" alt="{{ post.title }}">
                    {% endif %}
                {% endif %}
            </columns>
            <columns small="12" large="4" class="small-padding-bottom">
                {% if post.type is not null %}
                    <h6 class="h6-type">
                        {{ post.typeTransString | trans | upper }}{% if post.date and post.endDate is null and post.intervalDateText is null %} <span>{{ post.date | date('d | m | y') }}</span>{% endif %}
                    </h6>
                {% endif %}
                {% if post.intervalDateText is not null %}
                    <h6 class="h6-type"><span>{{ post.intervalDateText }}</span></h6>
                    <spacer size="25"></spacer>
                {% endif %}
                {% if post.date and post.intervalDateText is null %}
                    <h6 class="h6-type">
                        <span>{{ post.date | date('d | m | y') }}{% if post.endDate is not null %} &#8212; {{ post.endDate | date('d | m | y') }}{% endif %}</span>
                    </h6>
                    <spacer size="25"></spacer>
                {% endif %}
                <h4 style="font-weight:bolder;line-height:1">{{ post.title }}</h4>
                {% if post.shortDescription %}
                    <p class="post-short-description">{{ post.shortDescription }}</p>
                {% endif %}
                {% if post.link %}
                    <spacer size="25"></spacer>
                    <a href="{{ post.link }}" class="show-for-large">
                        <img style="width:50px" class="float-left" src="{{ absolute_url(asset('build/images/newsletter_info.png')) }}" alt="+Info button">
                    </a>
                {% endif %}
            </columns>
        </row>
        {% include "mail/fragment/hr_row_divider.html.twig" %}
    {% endfor %}
{% endblock %}
