{% extends "mail/base_email.html.twig" %}

{% block content %}
    <wrapper class="light-grey-background">
        <container>
            <row>
                <columns small="8" large="8" valign="middle" class="normal-padding-top">
                    <a href="{{ absolute_url(path('front_app_homepage')) }}">
                        <img class="float-left" src="{{ absolute_url(asset('build/newsletter_logo_header.png')) }}" alt="{{ project_title }}">
                    </a>
                </columns>
                <columns small="4" large="4">
                    {{ subject }}
                </columns>
            </row>
            {% include "mail/fragment/hr_row_divider.html.twig" %}
            <row>
                <columns small="12" large="12">

                </columns>
            </row>
        </container>
    </wrapper>


{#    <table class="row">#}
{#        <tbody>#}
{#        <tr>#}
{#            <th class="small-12 large-12 columns first last">#}
{#                <p>#}
{#                    Hem rebut una petició de subscripció de l'adreça {{ user.email }} al newsletter de Lo Pati.#}
{#                </p>#}
{#                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}#}
{#                <p>#}
{#                    Per confirmar la subscripció, si us plau, fes clic <a href="{{ url('newsletter_confirmation', {token: user.token}) }}">aquí</a>.#}
{#                </p>#}
{#                {% include 'AdminBundle:IsolatedNewsletter:include_vertical_spacer.html.twig' with {size: 40} %}#}
{#                <p style="font-size:10px;">#}
{#                    Si l'enllaç no funciona, copiï aquesta adreça {{ url('newsletter_confirmation', {token: user.token}) }} al seu navegador.#}
{#                </p>#}
{#            </th>#}
{#            <th class="expander"></th>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
    {% include "mail/fragment/hr_row_divider.html.twig" %}
{% endblock %}
