{% extends "mail/base_email.html.twig" %}

{% block content %}
    <row>
        <columns small="12" large="12">
            <h6 class="h6-type">{{ subject }}</h6>
            <spacer size="25"></spacer>
            <p class="grey-color">{{ 'newsletter.email.confirmation.first_line' | trans({ '%email%': user.email }) | raw }}</p>
            <spacer size="40"></spacer>
            <p class="grey-color">{{ 'newsletter.email.confirmation.second_line' | trans }}</p>
            <center>
                <button class="alert large" href="{{ url('front_app_newsletter_subscribe', {token: user.token}) }}">{{ 'newsletter.email.confirmation.button' | trans }}</button>
            </center>
            <spacer size="40"></spacer>
            <p class="grey-color">{{ 'newsletter.email.confirmation.third_line' | trans }}</p>
            <p><a href="{{ url('front_app_newsletter_subscribe', {token: user.token}) }}">{{ url('front_app_newsletter_subscribe', {token: user.token}) }}</a></p>
        </columns>
    </row>
    {% include "mail/fragment/hr_row_divider.html.twig" %}
{% endblock %}
